body {
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  color: red;
  margin: 20px 0;
}

img {
  object-fit: cover;
  height: 250px;
}

.text {
  display: block;
  border-top: 2px solid black;
  padding: 20px 0;
  font-size: 40px;
  color: blue;
}

.item,
.swiper-slide {
  padding: 5px;
  border: 2px solid black;
  text-align: center;
}

.owl-carousel {
  padding: 0 15px;
}

.owl-stage-outer {
  position: relative;
}

.owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 60px;
  color: green;
}

.owl-prev {
  position: absolute;
  top: 125px;
  left: -15px;
}

.owl-next {
  position: absolute;
  top: 125px;
  right: -15px;
}
