body {
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  color: red;
  margin: 20px 0;
}

img {
  object-fit: cover;
  height: 250px;
}

span {
  display: block;
  border-top: 2px solid black;
  padding: 20px 0;
  font-size: 40px;
  color: blue;
}

/* OWL Carousel */
.item,
.swiper-slide {
  padding: 5px;
  border: 2px solid black;
  text-align: center;
}

/* Swiper */
